apiVersion : apps/v1
	kind: Deployment
	metadata:
	  name: Devicekubercluster 
	spec:
	  replicas: 1
	  selector:
	    matchLabels:
	      app: Devicekubercluster
	  template:
	    metadata:
	      labels:
	        app: Devicekubercluster 
	    spec:
	      containers:
	        - name: Devicekubercluster 
	          image: Devicekuberclusteracr.azurecr.io/Devicekubercluster
	          ports:
	          - containerPort: 80
